<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573067693119-j5nhdnc8r4hrcoluoodvpscvi8s8816b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573067693119-j5nhdnc8r4hrcoluoodvpscvi8s8816b</string>
	<key>API_KEY</key>
	<string>AIzaSyDuDQV-y7ucWRAcZsJ3RZ6e6k936IoiAc4</string>
	<key>GCM_SENDER_ID</key>
	<string>573067693119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.funica.funica</string>
	<key>PROJECT_ID</key>
	<string>funica-26183</string>
	<key>STORAGE_BUCKET</key>
	<string>funica-26183.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573067693119:ios:d8bbb1f47dcf1de5aabc8a</string>
</dict>
</plist>